

@media (min-width: 768px) {
.navbar-toggler {
    display: none;
}
}
/* View Button */
.view-button {
display: none; /* Initially hidden */
margin-top: 5px;
background-color: #007bff;
color: white;
border: none;
border-radius: 4px;
padding: 5px 10px;
cursor: pointer;
}

.view-button:hover {
background-color: #0056b3;
}

/* File Preview Container */
#filePreview {
display: flex; /* Initially hidden */
background-color: #fff;
border: 1px solid #ccc;
border-radius: 4px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
padding: 10px;
margin-top: 10px;
}
        .file-preview {
    display: none;
    width: auto;
    height:auto;
    overflow: hidden;
}


#filePreview img,
#filePreview iframe {
max-width: 100%;
height: auto;
border-radius: 4px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.error-message {
color: red;
font-size: 0.9em;
}
